*, html {
    margin: 0 auto;
    box-sizing: border-box; 
    scroll-behavior: smooth !important;
}


body { 
    background-image: url("./src/public/cream.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(25px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}


/* Estilo general */
.anim {
    opacity: 0;
    animation: fadeSlideIn 1.5s ease-in-out forwards;
}


/* Pantalla chica */
@media (max-width: 768px) {
    .anim {
        opacity: 0;
        animation: fadeSlideIn 1.5s ease-in-out forwards;
    }
}


@keyframes hero-gradient-animation {
    0% {
        --x-0: 31%;
        --s-start-0: 19%;
        --s-end-0: 82%;
        --y-0: 48%;
        --c-0: hsla(214, 68%, 100%, 1);
        --s-start-1: 8%;
        --s-end-1: 81%;
        --x-1: 51%;
        --y-1: 26%;
        --c-1: hsla(254, 62%, 75%, 1);
        --x-2: 71%;
        --s-start-2: 9%;
        --s-end-2: 65%;
        --y-2: 79%;
        --c-2: hsla(287, 66%, 83%, 1);
        --c-3: hsla(271.9148936170212, 99%, 53%, 1);
        --s-start-3: 2%;
        --s-end-3: 75%;
        --y-3: 14%;
        --x-3: 95%;
        --c-4: hsla(239.5588235294118, 92%, 51%, 1);
        --y-4: 41%;
        --s-start-4: 5%;
        --s-end-4: 73%;
        --x-4: 18%;
    }

    100% {
        --x-0: 70%;
        --s-start-0: 0%;
        --s-end-0: 72%;
        --y-0: 37%;
        --c-0: hsla(292, 99%, 89%, 1);
        --s-start-1: 8%;
        --s-end-1: 90%;
        --x-1: 21%;
        --y-1: 42%;
        --c-1: hsla(359.00000000000006, 0%, 100%, 1);
        --x-2: 73%;
        --s-start-2: 16%;
        --s-end-2: 58%;
        --y-2: 52%;
        --c-2: hsla(247, 75%, 94%, 1);
        --c-3: hsla(237, 98%, 94%, 1);
        --s-start-3: 16%;
        --s-end-3: 69%;
        --y-3: 75%;
        --x-3: 60%;
        --c-4: hsla(271.9148936170212, 99%, 53%, 1);
        --y-4: 41%;
        --s-start-4: 2%;
        --s-end-4: 60%;
        --x-4: 82%;
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(214, 68%, 100%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 81%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 26%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(254, 62%, 75%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 71%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 79%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(287, 66%, 83%, 1)
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(271.9148936170212, 99%, 53%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 75%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 95%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(239.5588235294118, 92%, 51%, 1)
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 73%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 18%
}

@media (min-width: 769px) {  

body {
    --x-0: 31%;
    --y-0: 48%;
    --c-0: hsla(214, 68%, 100%, 1);
    --x-1: 51%;
    --y-1: 26%;
    --c-1: hsla(254, 62%, 75%, 1);
    --x-2: 71%;
    --y-2: 79%;
    --c-2: hsla(287, 66%, 83%, 1);
    --c-3: hsla(271.9148936170212, 99%, 53%, 1);
    --y-3: 14%;
    --x-3: 95%;
    --c-4: hsla(239.5588235294118, 92%, 51%, 1);
    --y-4: 41%;
    --x-4: 18%;
    ;
    background-color: hsla(232.9411764705882, 85%, 47%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
    background-repeat: no-repeat;
    background-attachment:inherit;
}

}